*.mo
*.pyc
/*.egg-info
/.installed.cfg
/.mr.developer.cfg
/pip-selfcheck.json
/bin/
/build/
/buildout.cfg
/coverage/
/develop-eggs/
/dist/
/eggs/
include/
lib/
/parts/
/src/
/var/
/.nightly_password
/README.html
